@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your default theme */
    --color-background-base: 199, 209, 219;
    --color-background-secondary: 222, 228, 234;
    --color-primary: 218, 98, 172;
    --color-primary-muted: 247, 151, 210;
    --color-text: 16, 18, 20;
    --color-text-muted: 22, 26, 29;

    --color-danger: 241, 91, 80;
    --color-danger-muted: 248, 113, 104;

    --color-border: 159, 173, 188;

    --color-util: 182, 194, 207;

    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #dee4ea;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #c9c9c9;
      transition: background 0.2s;
      width: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #898989;
      transition: background 0.2s;
    }
  }

  [data-theme="dark"] {
    --color-background-base: 22, 26, 29;
    --color-background-secondary: 16, 18, 20;
    --color-primary: 205, 81, 157;
    --color-primary-muted: 148, 61, 115;
    --color-text: 222, 228, 234;
    --color-text-muted: 199, 209, 219;

    --color-danger: 174, 46, 36;
    --color-danger-muted: 93, 31, 26;

    --color-border: 34, 39, 43;

    --color-util: 29, 33, 37;

    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #131313;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #131313;
      transition: background 0.2s;
      width: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
      transition: background 0.2s;
    }
  }

  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-text;
  }
}

:root,
body,
html {
  height: 100%;
  overflow-y: auto;
}

.ut-bar[data-ut-element="button"][data-state="uploading"]::after {
  background-color: your-color-here !important;
}
